<h1 class="heading">Tagged with <%= @tag.name %></h1>

<section class="posts with-tag-<%= @tag.name %>">
  <%= for post <- @tag.posts do %>
    <%= render AkediaWeb.PostView, "post.html", Map.put(assigns, :post, post) %>
  <% end %>
</section>
