<h1 class="heading"><%= @title %></h1>

<section class="posts">
  <%= for post <- @posts do %>
    <%= render AkediaWeb.PostView, "post.html", Map.put(assigns, :post, post) %>
  <% end %>
</section>

<%= pagination_links @page,
  previous: Phoenix.HTML.raw("&leftarrow;"),
  next: Phoenix.HTML.raw("&rightarrow;")
%>
