<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Admin</title>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="shortcut icon" type="image/x-icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>" />
  </head>
  <body>
    <header>
      <%= render "admin_navbar.html", Map.put(assigns, :conn, @conn) %>
    </header>

    <%= if get_flash(@conn, :info) != nil do %>
      <div class="notification is-info" role="alert">
        <div class="container">
          <%= raw(get_flash(@conn, :info)) %>
        </div>
      </div>
    <% end %>

    <%= if get_flash(@conn, :error) != nil do %>
      <div class="notification is-danger" role="alert">
        <div class="container">
          <%= get_flash(@conn, :error) %>
        </div>
      </div>
    <% end %>

    <div id="wrapper" class="container">
      <main role="main">
        <div class="content-wrapper">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </main>
    </div>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
