<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "head.html", conn: @conn, menus: @menus %>
  </head>
  <body data-js-view-path="<%= js_view_path(@conn, @view_template) %>">
    <header>
      <%= render "navbar.html", conn: @conn %>
    </header>

    <%= if get_flash(@conn, :info) != nil do %>
      <div class="notification is-info" role="alert">
        <div class="container">
          <%= raw(get_flash(@conn, :info)) %>
        </div>
      </div>
    <% end %>

    <%= if get_flash(@conn, :error) != nil do %>
      <div class="notification is-danger" role="alert">
        <div class="container">
          <%= get_flash(@conn, :error) %>
        </div>
      </div>
    <% end %>

    <div id="wrapper" class="container">
      <main role="main">
        <div class="content-wrapper">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </main>
    </div>

    <%= render "footer.html", conn: @conn, menus: @menus %>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
