<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Technos &amp; Psyche</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div id="wrapper" class="container">
      <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="<%= Routes.page_path(@conn, :index) %>">
              <img src="<%= Routes.static_path(@conn, "/images/logo.png") %>" alt="Bulma: a modern CSS framework based on Flexbox" width="28" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div class="navbar-menu">
            <div class="navbar-start">
              <%= link "Posts", to: Routes.post_path(@conn, :index), class: "navbar-item" %>
            </div>
          </div>
        </nav>
      </header>
      <main role="main">
        <p class="notification is-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="notification is-danger" role="alert"><%= get_flash(@conn, :error) %></p>

        <div class="content-wrapper">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </main>
      <footer class="footer">
        <%= if signed_in?(@conn) do %>
        <%= link "Sign out", to: Routes.session_path(@conn, :delete), method: :delete, class: "button is-danger" %>
        <%= link "Profile", to: Routes.user_path(@conn, :show, @current_user), class: "button is-primary" %>
        <% end %>
        <div class="content has-text-centered">
          No fucks given.
        </div>
      </footer>
    </div>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
