<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:title" content="Technos &amp; Psyche - Inhji.de">
    <meta property="og:type" content="website">
    <meta property="og:image" content="<%= Routes.static_path(@conn, "/images/avatar.jpg") %>">

    <title>Technos &amp; Psyche</title>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="shortcut icon" type="image/x-icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>" />

    <link rel="alternate" type="application/atom+xml" href="/feed" />

    <link rel="webmention" href="https://webmention.io/inhji.de/webmention" />
    <link rel="pingback" href="https://webmention.io/inhji.de/xmlrpc" />

    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">

    <link rel="me" href="https://github.com/inhji" />
    <link rel="me" href="mailto:inhji@posteo.de" />
    <link rel="me" href="<%= Routes.page_url(@conn, :index) %>" />
  </head>
  <body>
    <div id="wrapper" class="container">
      <header>
        <%= render "header.html" %>
        <%= render "navbar.html", Map.put(assigns, :conn, @conn) %>
      </header>
      <main role="main">
        <p class="notification is-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="notification is-danger" role="alert"><%= get_flash(@conn, :error) %></p>

        <div class="content-wrapper">
          <%= Map.get(assigns, :inner_layout) || render @view_module, @view_template, assigns %>
        </div>
      </main>
      <%= render "footer.html", Map.put(assigns, :conn, @conn) %>
    </div>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
