<div class="columns is-multiline">
  <%= for image <- @images do %>
  <div class="column is-one-quarter">
    <a href="<%= Routes.image_path(@conn, :show, image) %>">
      <img src="<%= image_url(image) %>" alt="<%= image.caption %>" title="<%= image.caption %>">
    </a>
    <span><%= image.caption %></span>
  </div>
  <% end %>
</div>
