/* This file is for your main application css. */

@import "bulma/sass/utilities/_all"

// User defined
$redpink: #dd3344
$family-serif: 'Georgia', serif

// Settings
$fullhd-enabled: false
$widescreen-enabled: false

// Variable overrides
$box-radius: $radius-small
$notification-radius: 0
$footer-background-color: hsl(200, 25%, 94%)

@import "bulma/bulma"
@import "bulma-extensions/ribbons"
@import "bulma-extensions/switch"
@import "bulma-extensions/divider"
@import "fontawesome/fontawesome"
@import "fontawesome/brands"
@import "fontawesome/solid"
@import "openwebicons/openwebicons"

// === GENERAL STYLES ===

.navbar-brand
  .page-title
    font-weight: bold
    margin-left: 2rem
    @media screen and (min-width: $desktop)
      margin-left: 0

.content-wrapper
  margin: 1rem 0.5rem
  @media screen and (min-width: $desktop)
    margin: 1rem 0

.avatar
  img
    border-radius: 5rem

// === HOMEPAGE STYLES ===

.tile .title
  font-size: $size-medium
  font-weight: 700

// === POST STYLES ===

article.post.article
  .post-content
    padding: 0 2rem
    @media screen and (min-width: $desktop)
      padding: 0
  .content
    font-family: $family-serif
    text-align: inherit

article.post
  margin-bottom: 2rem

  .post-content
    padding: 2rem 0

  .content
    line-height: 1.7rem

  header
    margin-bottom: 0.5rem

    .permalink
      margin-right: 0.3rem
      color: $grey

    .reply
      color: $grey
      a
        color: $grey

    .username
      margin-right: 0.3rem
      a
        color: $grey-dark
