{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
      ["prismjs", {
          "languages": [
            "javascript",
            "css",
            "markup",
            "elixir",
            "markdown",
            "graphql",
            "scss",
            "sass",
            "nginx",
            "bash"
          ],
          "plugins": ["line-numbers"],
          "theme": "funky",
          "css": true
      }]
    ]
}
