<div class="box">
  <%= render "post.html", Map.put(assigns, :post, @post) %>
</div>


<%= if signed_in?(@conn) do %>
  <span>
    <%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %>
    |
    <%= link "Delete", to: Routes.post_path(@conn, :delete, @post), method: :delete, data: [confirm: "Are you sure?"] %>
  </span>
<% end %>
