<div class="columns">
  <column>
    <strong>Username</strong>
  </column>
  <column>
    <%= @user.username %>
  </column>
</div>

<div class="columns">
  <column><strong>Password</strong></column>
  <column><%= elem(String.split_at(@user.encrypted_password, 20), 0)  %>..</column>
</div>

<%= link "Edit", to: Routes.user_path(@conn, :edit, @user) %>
