<h1 class="heading">User Settings</h1>

<h2 class="title"><%= @user.username %></h2>
<h3 class="subtitle"><%= @user.email %></h3>

<pre><%= totp_url(@user.totp_secret) %></pre>

<div>
  <%= link "Edit", to: Routes.user_path(@conn, :edit), class: "button is-primary" %>
</div>
